<hr>
<h3>コントロールコード</h3>
<div id=gtable class="fserif" style="font-size:1.0em;">
<!--{each l/c}-->
 0x{rval l/c/uv} : {rval l/c/j}  ({rval l/c/n})<br/>
<!--{/each}-->
</div>
<!--{def l/v}-->
<h3>異体字セレクタ</h3>
<div id=gtable class="fserif" style="font-size:1.2em;">
<!--{each l/v}-->
 0x{rval l/v/uv} :  ({rval l/v/n})<br/>
<!--{/each}-->
</div>
<!--{/def}-->
<!--{def ascii}-->
<h3>1バイトコード(半角英数記号)</h3>
<div id=gtable class="fserif">
<!--{each l/h}-->
<div class="ten " style="width:4em;">
<div class="glyph" style="font-size:4em">{rval l/h/c}</div>
<div class=ucs>{rval l/h/u8}</div>
<div class=cnt>{rval l/h/n}</div>
</div>
<!--{/each}-->
</div>
<br clear=all>
<!--{/def}-->

<!--{def l/r}-->
<h3>実体参照形式(&amp;xxxx;)</h3>
<div id=gtable class="fserif">
<!--{each l/r}-->
<div class="ten" style="width:4em;">
<div class="glyph" style="font-size:4em">{rval l/r/c}</div>
<div class=ucs>{rval l/r/u}</div>
<div class=cnt>{rval l/r/n}</div>
</div>
<!--{/each}-->
</div>
<br clear=all>
<!--{/def}-->

<!--{def l/m}-->
<h3>文字参照形式(&amp;#xxxx;)</h3>
<div id=gtable class="fserif">
<!--{each l/m}-->
<div class="ten {rval l/m/class}" id="">
<div class="glyph">{rval l/m/c}</div>
<div class=ucs>{rval l/m/u}</div>
<div class=jis>{rval l/m/j}</div>
<div class=cnt>{rval l/m/n}</div>
</div>
<!--{/each}-->
</div>
<br clear=all>
<!--{/def}-->

<!--{def l/z}-->
<h3>全角英数互換文字(U+FF01 〜 U+FF5E)</h3>
<div id=gtable class="fserif">
<!--{each l/z}-->
<div class="ten {rval l/z/class}" id="">
<div class="glyph">{rval l/z/c}</div>
<div class=ucs>U+{rval l/z/uv}</div>
<div class=cnt>{rval l/z/n}</div>
</div>
<!--{/each}-->
</div>
<br clear=all>
<!--{/def}-->
<!--{def l/a}-->
<h3>半角カナ互換文字(U+FF61 〜 U+FF9F)</h3>
<div id=gtable class="fserif">
<!--{each l/a}-->
<div class="ten {rval l/a/class}" id="">
<div class="glyph">{rval l/a/c}</div>
<div class=ucs>U+{rval l/a/uv}</div>
<div class=cnt>{rval l/a/n}</div>
</div>
<!--{/each}-->
</div>
<br clear=all>
<!--{/def}-->

<!--{def l/n}-->
<h3>記号、かな ( < U+3400) </h3>
<div id=gtable class="fserif">
<!--{each l/n}-->
<div class="ten {rval l/n/class}" id="">
<div class="glyph">{rval l/n/c}</div>
<div class=ucs>U+{rval l/n/uv}</div>
<div class=jis>{rval l/n/j}</div>
<div class=cnt>{rval l/n/n}</div>
</div>
<!--{/each}-->
</div>
<br clear=all>
<!--{/def}-->

<!--{def l/k}-->
<h3>漢字その他</h3>
<div id=gtable class="fserif">
<!--{each l/k}-->
<div class="ten {rval l/k/class}" id="">
<div class="glyph">{rval l/k/c}</div>
<div class=ucs>U+{rval l/k/uv}</div>
<div class=jis>{rval l/k/j}</div>
<div class=cnt>{rval l/k/n}</div>
</div>
<!--{/each}-->
</div>
<br clear=all><br/>
<!--{/def}-->

<!--{def l/s}-->
<h3>サロゲートペア文字( > U+10000)</h3>
<div id=gtable class="fserif">
<!--{each l/s}-->
<div class="ten {rval l/s/class}" id="">
<div class="glyph">{rval l/s/c}</div>
<div class=ucs>U+{rval l/s/uv}</div>
<div class=jis>{rval l/s/j}</div>
<div class=cnt>{rval l/s/n}</div>
</div>
<!--{/each}-->
</div>
<br clear=all><br/>
<!--{/def}-->
<br/>
<span class="m0" style="border:1px solid black">　　</span> JIS X 0208(第1,2水準漢字含む)
<span class="m3" style="border:1px solid black">　　</span> JIS X 0213(第3,4水準漢字含む)<br/>

