body {

}
h1 {
	margin:0 ;
	font-size:1.5em ;
	background-color: #aaffa7 ;
	padding:0.2em;
}
h3 {
	margin: 1em 0 0 0 ;
}
div#control {
	margin-bottom:1em;
	font-size:18px;
}
div#control select{
	font-size:16px;	
}
div#control input{
	font-size:16px;	
}
#gtable {
	width:100% ;
	font-size:10px;
}
div.ten {
	float:left ;
	width:6.2em ;
	height:10.1em ;
	padding:0.2em ;
	border:1px solid black ;
	position:relative;
	margin-left:-1px;
	margin-top:-1px ;
}
div.hl {
	background-color:#faa ;
}
.fserif {
	font-family:serif,"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN", "ＭＳ 明朝";	
}
.fsans {
	font-family:sans-serif,"ヒラギノ角ゴ ProN W3","Hiragino KakuGo ProN","ＭＳ ゴシック";	
}
div.glyph{

	height:1em ;
	font-size:6em;
	padding:0 ;
	line-height:100% ;
	border:1px dotted #888 ;
}
div.ucs {
	position:absolute ;
	top:5.5em;
	font-size:1.2em ;
	font-family:monospace ;
	color:#666 ;
}
div.jis {
	position:absolute ;
	top:6.5em;
	font-size:1.2em ;
	font-family:monospace ;
	color:#666 ;
}
div.cnt {
	position:absolute ;
	top:9.1em;
	font-size:1em ;
	font-family:monospace ;
	color:#666 ;
}
.m0 {
	background-color:#ffd;
}
.m1 {
	background-color:#ffd;
}
.m2 {
	background-color:#ffd;
}
.m3 {
	background-color:#fdf;
}
.m4 {
	background-color:#fdf;
}
#footer {
	font-size:15px ;
	margin-top:50px ;
	border-top:1px solid #c0c0c0 ;
	color:#c0c0c0 ;
}
