<script type="text/javascript" src="jquery-1.9.1.min.js"></script>
<script type="text/javascript">
$(function() {
	$('a.fl').bind('click',function() {
		window.parent.fs($(this).attr('href')) ; 
		return false ;
	})
})
</script>
<!--{def err}-->
<h3>ERRORS</h3>
<dl>
<!--{each err}-->
<dt><a href="{rval err/file}" class=fl>{rval err/file}</a></dt>
<!--{each err/msgs}-->
<dd>
<!--{def err/msgs/lc}-->
[{rval err/msgs/lc}] 
<!--{/def}-->
{rval err/msgs/msg}</dd>
<!--{/each}-->
<!--{/each}-->
</dl>
<!--{/def}-->
<!--{def warn}-->
<h3>WARNINGS</h3>
<dl>
<!--{each warn}-->
<dt><a href="{rval warn/file}" class=fl>{rval warn/file}</a></dt>
<!--{each warn/msgs}-->
<dd>
<!--{def warn/msgs/lc}-->
[{rval warn/msgs/lc}] 
<!--{/def}-->
{rval warn/msgs/msg}</dd>
<!--{/each}-->
<!--{/each}-->
</dl>
<!--{/def}-->