body {
	margin:0;
	font-family:sans-serif ;
}
iframe {
	border:1px solid #888 ;
}
button {
	font-size:0.8em ;
	height:1.7em ;
	background-color: #666 ;
	color:white; 
	border: 1px solid #888 ;
	cursor:pointer ;
	margin-bottom:2px ;
}
input {
	font-size:0.8em ;
}
span.small {
	font-size:0.8em ;
}
div.frame {
#	border:1px dotted red ;
	box-sizing:border-box ;
}
h3 {
	font-size:1.2em ;
	margin:0.5em 0 ;
	border-bottom:1px solid #888 ;
}
#b_head {
	box-sizing:border-box ;
	background-color:#bfff65;
}
#b_foot {
	box-sizing:border-box ;
	background-color:#bfff65;
}
#b_body {
	overflow:hidden;
	width:100% ;
	height:0;
}
#b_left {
	float:left ;
	width:400px ;
	height:100% ;
	padding:0.2em ;

}
#b_right {
	float:right;
	width:100% ;
	margin-left:-400px;
	height:100%;
	padding:0.2em ;
}
#head {
	padding:0.2em ;	
}
#foot {
	text-align:right;
	padding:0.2em ;
	font-size:0.5em ;
}
#contents {
	position:relative ;
	margin-left:400px ;
	height:100% ;
}
#menu {
	box-sizing:border-box ;
	position:relative ;
	overflow-y:scroll;
	height:93% ;
	border:1px solid #888;
	padding:0.5em ;
}
#fr0 {
	width:100%;
	height:100%;
}
#fr {
	width:100%;
	height:95% ;
}